---
title: Meet the team
---
<div class="wrapper-white">
<ul class="list-inline text-center">
<div class="team-container">
  <li>
    <%= image_tag "gerbonilla.jpeg", class: "img-circle" %>
    <h3>Gerardo</h3>
  </li>
  <li>
    <%= image_tag "krestof.jpeg", class: "img-circle" %>
    <h3>Kristofer</h3>
  </li>
</div>
</ul>
</div>
